{% extends "base.html" %} {% block title %}Home{% endblock title %}

{% block content %}
<br/>
<h1 style="text-align:center">Welcome!</h1>
<h5 style="text-align:center">Here are some general recommendations to start</h5>
<br/>
    
    <table  width="100%;">
        <tr>
            <th style="text-align:center; font-size: large; padding-bottom: 2%; text-decoration: underline;">Best Animes</th>
            <th style="text-align:center; font-size: large; padding-bottom: 2%; text-decoration: underline;">Best Movies</th>
            <th style="text-align:center; font-size: large; padding-bottom: 2%; text-decoration: underline;">Best OVAs</th>
        </tr>
        {% for tvs, mvs, ovs in best_list %}
        <tr>
            <td style="padding-bottom: 10px;" >{{ "- " + tvs}}</td>
            <td>{{ "- " +mvs}}</td>
            <td>{{ "- " +ovs}}</td>
        </tr>
    {% endfor %}
    </table>    

{% endblock %}