{% extends "base.html" %} {% block title %}Anime{% endblock title %} 

{% block content %}
<body background="{{ url_for('static', filename='image.png') }}"> 
<br />
<h1 style="text-align: center">Your Page</h1>
<br/>
<br/>
<div>
    <!-- Recommendations -->
    <h3 style="text-align: center">Recommendation History</h3>
    {% if logs|length  == 0 %}

    <image height="80%" style="position: absolute; left: 0; bottom: 0" src="{{url_for('static',filename = 'hand.png')}}"></image>
    <p style="position: absolute; left: 50%; bottom: 50%" > <small>it's empty yo</small> </p>

    {% else %}
    <div style="background-color: rgba(0,0,0,.2)">
    <pre style="border-radius: 3pt; border: 1px lightgrey solid">
        {% for log in logs %}
            {{ log.date.strftime("%A %B %d, %Y") }} - {% for name in log.data.split(',') %}
                -{{ name }} {% endfor %}
        {% endfor %}
    </pre>
    </div>  
    <br />
    
    <!-- Favorites -->
    <h3 style="text-align: center">Favorites List</h3>
        <!-- Lists Favorites -->
        <ul class="list-group list-group-flush" id="favs">
            {% for fav in favs %}
                <li class="list-group-item">
                    {{ fav.data }}
                    <!-- Deletes Favorite -->
                    <button type="button" class="close" onClick="deleteNote({{ fav.id }})">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </li>
            {% endfor %}
        </ul>
    <br />
    <!-- Add to Favorites -->
    <form method="POST" action="/view">
        <input name="fav" id="fav" class="form-control" />
        <br/>
        <div align="center">
            <button type="submit" class="btn btn-secondary">Enter</button>
        </div>
        <br/>
        <br/>
    </form>
    {% endif %} 
</div> 
{% endblock %}

{% block header %}
<script>
    $( function() {
      var availableTags = [
          {% for name in anime %}
              "{{name}}",
          {% endfor %}
      ];
      $( "#fav" ).autocomplete({
        source: availableTags, 
        minLength: 3
      });
    } );

    function deleteNote(id){
        fetch("/view", {
            method: "DELETE",
            body: JSON.stringify({
                favid: id
            }),
            headers:{
                "Content-type": "application/json"
            }
        }).then(
            response=>{
                location.reload()
            }
        )
    }
</script>
{% endblock %}